title: Frolic!
description: A modern client for F-list's F-Chat
theme: jekyll-theme-dinky
## I have no idea how this is supposed to work.
#theme: _sass/jekyll-theme-frolic-pastel.scss
#theme: jekyll-theme-frolic-pastel

google_analytics: false
github:
  is_user_page: false
  is_project_page: false
  repository_url: https://github.com/Frolic-chat/Frolic
show_downloads: true
latest_release: https://github.com/Frolic-chat/Frolic/releases/tag/0.6.0
all_releases: https://github.com/Frolic-chat/Frolic/releases/

#### UNSURE
## Do I actually need any of these:
exclude:
  # from https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  # specific to the theme website:
  - bin/
  - lib/
  - "*.gemspec"
  - "*.gem"
  - LICENSE.txt
  - package.json
  - package-lock.json
  - Rakefile
  - README.md
  - CODE_OF_CONDUCT.md
  - docker-compose.yml
  - Dockerfile
  # theme test code
  - fixtures/
