---
---
// @use/@import {{ site.theme }}
@use 'sass:list';
@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

//@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

$color-scheme: "frolic-pastel";

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

// General vibe
// https://colorhunt.co/palette/c3ff93ffdb5cffaf61ff70ab
// $color-green:   #C3FF93;
// $color-orange:  #FFAF61;
// $color-red:     #FF70AB;

// $color-yellow: oklch(89.88% 0.1484 93.3);
// $color-blue:   oklch(73.83% 0.14 250.79);
// $color-purple: oklch(65.5% 0.227 303.4);
// $color-red:    oklch(71.74% 0.2057 352.92);
// $color-orange: oklch(81.62% 0.1328 63.33);
// $color-green:  oklch(91.75% 0.2045 132.06);
// $color-teal:   oklch(89.66% 0.1743 157.65);
// $color-pink:   oklch(73.39% 0.1832 356.76);

// $color-brown:  oklch(50.64% 0.1009 56.17);

$color-blue:   oklab(0.9 -0.05 -0.13);
$color-purple: oklab(0.9 0.13 -0.19);
$color-red:    oklab(0.9 0.2 -0.03);
$color-orange: oklab(0.9 0.06 0.12);
$color-green:  oklab(0.9 -0.14 0.15); // Customized
$color-teal:   oklab(0.9 -0.16 0.07);

// $color-yellow, $color-pink,
$primary-colors: ( $color-blue, $color-purple, $color-red, $color-orange, $color-green, $color-teal );

// $color-link-yellow: oklch(30% 0.1503 93.81);
// $color-link-blue:   oklch(30% 0.1393 248.96);
// $color-link-purple: oklch(30% 0.2302 304.38);
// $color-link-red:    oklch(30% 0.2022 351.47);
// $color-link-orange: oklch(30% 0.1342 63.43);
// $color-link-green:  oklch(30% 0.2052 133.03);
// $color-link-teal:   oklch(30% 0.1746 156.37);
// $color-link-pink:   oklch(30% 0.1803 356.82);

// $color-link-brown:  oklch(30% 0.1 53.13);

$color-link-blue:   oklab(0.25 -0.05 -0.13);
$color-link-purple: oklab(0.25 0.13 -0.19);
$color-link-red:    oklab(0.25 0.2 -0.03);
$color-link-orange: oklab(0.25 0.06 0.12);
$color-link-green:  oklab(0.25 -0.14 0.15); // Customized
$color-link-teal:   oklab(0.25 -0.16 0.07);

// Based on primary-colors at fixed 30% brightness
// $color-link-yellow,
$link-colors: ( $color-link-blue, $color-link-purple, $color-link-red, $color-link-orange, $color-link-green, $color-link-teal );

//$color-bg-std:   #DFDFDF;
//$color-bg-blue:  #e6f2ff;

$color-shadow-dark:  oklch(9% 0.1 53.13);
$color-shadow-light: oklch(92% 0.03 53.13);

$color-text: #232323;
$color-text-code: #000;
$color-text-th: #FDFEFB;
$color-bg: #FBFAF7;
$color-link: #C30000;
$color-img-border: #ccc;
$color-table-border: #ccc;
$color-th-bg: #232323;
$color-td-bg: #232323;
$color-definition: #444;
$color-pre-bg: #FDFEFB;
$color-pre-border: #D7D8C8;

$color-main-header-links: #fff;
$color-header-li-bg: #AF0011;
$color-header-li-bg-grad: #820011;
$color-header-li-bg-webkit-grad1: #f8f8f8;
$color-header-li-bg-webkit-grad2: #dddddd;
$color-header-li-border: #0d0d0d;
$color-header-li-boxshadow: #e90226;
$color-header-li-bg-hover: #c3001d;
$color-header-li-bg-grade-hover: #950119;
$color-header-li-bg-webkit-grad1-hover: #f8f8f8;
$color-header-li-bg-webkit-grad2-hover: #dddddd;
$color-buttons-text-hover: #fff;

@function opposite-hue($color) {
  @return color.adjust($color, $hue: 180deg, $space: oklch);
}

$index: 1;
$random-color: #001;
$random-opposite: opposite-hue($random-color);
@function random-color-from($group) {
  $index: math.random(list.length($group)) !global;
  $random-color: list.nth($group, $index) !global;
  $random-opposite: opposite-hue($random-color) !global;
  @return $random-color;
}

$sequence-color: random-color-from($primary-colors);
$sequence-opposite: opposite-hue($sequence-color);
@function next-in-sequence($group) {
  @if ($index >= list.length($group)) {
    $index: 1 !global;
  }
  $sequence-color: list.nth($group, $index) !global;
  $sequence-opposite: opposite-hue($sequence-color) !global;
  $index: calc($index + 1) !global;
  @return $sequence-color;
}

$color-dark-neutral:  oklch(25.62% 0 1);
$color-light-neutral: oklch(87% 0.01 270.21);
@function text-color-contrasting($color) {
  @if (color.channel($color, 'lightness', $space: oklch) > 50) {
    @return $color-dark-neutral;
  } @else {
    @return $color-light-neutral;
  }
}

@function text-shadow-contrasting($color) {
  @if (color.channel($color, 'lightness', $space: oklch) > 50) {
    @return $color-shadow-dark;
  } @else {
    @return $color-shadow-light;
  }
}

.pepicons-pop {
    margin-right: 0.3em;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

.pepicons-pop.stars-circle-filled::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='SVGNz87ymEu'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' stroke-width='2' d='M9.999 10.57L12 4l2.002 6.571L20 12.764l-5.952 2.364L12 22l-2.048-6.872L4 12.764z'/%3E%3Cpath fill='%23000' stroke='%23000' d='M20.085 16.574A.084.084 0 0 0 20 16.5a.084.084 0 0 0-.085.074c-.199 1.994-.345 2.577-2.338 2.765a.083.083 0 0 0-.077.082c0 .043.033.078.077.082c1.965.185 2.136.896 2.338 2.923c.005.042.041.074.085.074s.08-.032.085-.074c.202-2.027.372-2.738 2.338-2.923a.083.083 0 0 0 .077-.082a.083.083 0 0 0-.077-.082c-1.993-.188-2.14-.77-2.338-2.765Z'/%3E%3Cpath fill='%23000' d='M12 23c-.44 0-.83-.29-.96-.71l-1.91-6.41l-5.5-2.19c-.38-.15-.63-.52-.63-.94s.27-.78.66-.93L9.19 9.8l1.85-6.09c.13-.42.52-.71.96-.71s.83.29.96.71l1.86 6.09l5.53 2.02c.39.14.65.51.66.93s-.25.79-.63.94l-5.5 2.18l-1.91 6.41c-.13.42-.52.71-.96.71zM6.81 12.8l3.51 1.4c.28.11.5.35.59.64L12 18.5l1.09-3.66c.09-.29.3-.53.59-.64l3.51-1.4l-3.54-1.29c-.29-.11-.52-.35-.61-.65L12 7.43l-1.04 3.43c-.09.3-.32.54-.61.65zM20 23c-.3 0-.55-.23-.58-.53c-.2-1.95-.28-2.32-1.89-2.47a.585.585 0 0 1-.53-.58c0-.3.23-.55.53-.58c1.61-.15 1.7-.4 1.89-2.32a.585.585 0 0 1 1.16 0c.19 1.92.28 2.17 1.89 2.32c.3.03.53.28.53.58s-.22.55-.52.58c-1.61.15-1.7.52-1.9 2.47c-.03.3-.28.52-.58.52z'/%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='%23000' mask='url(%23SVGNz87ymEu)'/%3E%3C/g%3E%3C/svg%3E");
}

.pepicons-pop.list-circle-filled::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='SVGtfpH21yo'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000'%3E%3Cpath d='M9.5 9a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0 4a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0 4a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0'/%3E%3Cpath fill-rule='evenodd' d='M10.5 9a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1' clip-rule='evenodd'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='%23000' mask='url(%23SVGtfpH21yo)'/%3E%3C/g%3E%3C/svg%3E");
}

.pepicons-pop.code-circle-filled::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='SVGH54Mgb7H'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M4.59 12.331a1 1 0 0 1 1.412-.074l3.334 3a1 1 0 0 1-1.338 1.486l-3.334-3a1 1 0 0 1-.074-1.412'/%3E%3Cpath d='M9.41 9.331a1 1 0 0 1-.074 1.412l-3.334 3a1 1 0 1 1-1.338-1.486l3.334-3a1 1 0 0 1 1.412.074m12 3a1 1 0 0 1-.074 1.412l-3.334 3a1 1 0 1 1-1.338-1.486l3.334-3a1 1 0 0 1 1.412.074'/%3E%3Cpath d='M16.59 9.331a1 1 0 0 1 1.412-.074l3.334 3a1 1 0 0 1-1.338 1.486l-3.334-3a1 1 0 0 1-.074-1.412m-1.827-2.796a1 1 0 0 1 .702 1.228l-3 11a1 1 0 0 1-1.93-.526l3-11a1 1 0 0 1 1.228-.702'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='%23000' mask='url(%23SVGH54Mgb7H)'/%3E%3C/g%3E%3C/svg%3E");
}

.pepicons-pop.book-circle-filled::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='SVG6FG6ab8i'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M14 8.297a1 1 0 0 0-.838-.987L5.323 6.026A2 2 0 0 0 3 8v9.737a2 2 0 0 0 1.69 1.976l8.155 1.275A1 1 0 0 0 14 20zm-9 9.44V8l7 1.147v9.684z'/%3E%3Cpath d='M23 8a2 2 0 0 0-2.323-1.974L12.838 7.31a1 1 0 0 0-.838.987V20a1 1 0 0 0 1.155.988l8.154-1.276A2 2 0 0 0 23 17.737zm-2 9.737l-7 1.094V9.147L21 8z'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='%23000' mask='url(%23SVG6FG6ab8i)'/%3E%3C/g%3E%3C/svg%3E");
}

.pepicons-pop.clipboard-check-circle-filled::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='SVGZDtrp5XQ'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M8.675 5.5a1 1 0 0 1 1-1h6.643a1 1 0 0 1 1 1v3.875a1 1 0 0 1-1 1H9.675a1 1 0 0 1-1-1zm2 1v1.875h4.643V6.5z' clip-rule='evenodd'/%3E%3Cpath d='M8 8v11h10V8h-1V6h2a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h2v2z'/%3E%3Cpath fill-rule='evenodd' d='M15.567 11.677a1 1 0 0 1 .256 1.39l-1.767 2.565a1.5 1.5 0 0 1-2.154.334l-1.515-1.176a1 1 0 0 1 1.226-1.58l1.097.851l1.467-2.128a1 1 0 0 1 1.39-.256' clip-rule='evenodd'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='%23000' mask='url(%23SVGZDtrp5XQ)'/%3E%3C/g%3E%3C/svg%3E");
}


/* Base text styles */

body {
    padding:10px 50px 0 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: text-color-contrasting($color-light-neutral);
	background-color: $color-light-neutral;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin:36px 0 10px;
    font-weight: normal;
}

h1 {
    font-family: 'Kalam', Arvo, Monaco, serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Winky Sans", Arvo, Monaco, serif;
    letter-spacing: 0.02em;
}

p, ul, ol, table, dl {
    margin:0 0 22px;
}

h1, h2, h3 {
	display: block;
    line-height:1.3;
	border-bottom: 2px solid;
	padding-bottom: 5px;
}

h1 {
    font-size: 30px;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h1 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);
    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

h2 {
    font-size: 24px;
    padding-left: 1rem;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h2 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);
    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

h3 {
    font-size: 18px;
    padding-left: 2rem;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h3 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);

    .pepicons-chain {
        display: inline-block;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='%238f2525' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M10.392 11.564a2 2 0 0 1-.587-2.767l2.181-3.353a2 2 0 1 1 3.353 2.18l-2.18 3.354a2 2 0 0 1-2.767.586m-2.442.202a4 4 0 0 1 .179-4.06l2.18-3.353a4 4 0 1 1 6.707 4.362l-2.18 3.353a4 4 0 0 1-6.886-.302'/%3E%3Cpath d='M5.444 15.503a2 2 0 0 1-.587-2.767l2.181-3.353a2 2 0 1 1 3.353 2.18l-2.18 3.354a2 2 0 0 1-2.767.586m-2.442.202a4 4 0 0 1 .179-4.06l2.18-3.352a4 4 0 1 1 6.707 4.361l-2.18 3.353a4 4 0 0 1-6.886-.302'/%3E%3C/g%3E%3C/svg%3E");
    }

    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

h4 {
    padding-left: 3rem;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h4 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);
    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

h5 {
    padding-left: 4rem;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h5 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);
    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

h6 {
    padding-left: 5rem;
    color: next-in-sequence($primary-colors);
    text-shadow: 1px 1px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
    border-color: next-in-sequence($primary-colors);
    box-shadow: 0px 1px color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
}

.wiki-entry .header h6 {
    background: linear-gradient(to top right, next-in-sequence($primary-colors), color.change($sequence-color, $alpha: 0) 50%);
    color: text-color-contrasting($sequence-color);
    text-shadow: 1px 1px 1px $sequence-color;
    border-color: next-in-sequence($primary-colors);
    box-shadow: none;
}

$text-shadow: next-in-sequence($primary-colors);
$text-color: color.adjust($sequence-opposite, $lightness: -40%, $space: oklch);
section a:not(.header) {
    color: $text-color;
    text-decoration: underline $text-shadow;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: color.adjust(color.change($text-color, $lightness: 40%, $space: oklch), $hue: 4, $space: oklch);
    }
}

a {
    text-decoration: none;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
    font-weight:700;
}

ul {
    list-style-position: inside;
    list-style: disc;
    padding-left: 25px;
}

ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 25px;
}

blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

dl, dt, dd, dl p {
	color: $color-definition;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding-left: 20px;
    font-style: italic;
}

dl p {
    padding-left: 20px;
    font-style: italic;
}

hr {
    border: 0;
    background-color: next-in-sequence($primary-colors);
    height: 1px;
    margin: 0 0 24px;
}

/* Images */

img {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    padding:  5px;
    margin:  10px 0 32px 0;
    border: 1px solid;
    border-color: next-in-sequence($primary-colors);
}

p img,
.emoji {
    display: inline;
    margin:  0;
    padding: 0;
    vertical-align: middle;
    text-align:     center;
    border: none;
}

/* Code blocks */

$code-color:    color.adjust(random-color-from($primary-colors), $lightness: -30%, $space: oklch);
$code-bg-color: color.adjust($random-opposite, $lightness: 50%, $chroma: -50%, $space: oklch);
code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: $code-color;
    background-color: $code-bg-color;
    font-size: 14px;
    padding-top:   0.3em;
    padding-left:  0.5em;
    padding-right: 0.5em;
}

pre {
	padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid random-color-from($primary-colors);
    overflow: auto;
    overflow-y: hidden;
	margin-bottom: 32px;
}


/* Tables */
$table-bg-color:       color.adjust(random-color-from($primary-colors), $lightness: 50%, $chroma: -15%, $space: oklch);
$table-title-color:    color.change(opposite-hue($table-bg-color), $lightness: 75%, $space: oklch);
$table-text-color:     text-color-contrasting($table-bg-color);

table {
    width:100%;
    border: 1px solid next-in-sequence($primary-colors);
    margin-bottom: 32px;
    text-align: left;
}

th {
    font-family: "Winky Sans", Arvo, Monaco, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: text-color-contrasting($table-bg-color);
    background-color: color.adjust($table-bg-color, $lightness: -24%, $space: oklch);
}

td {
    padding: 10px;
    color: text-color-contrasting($table-bg-color);
	background-color: $table-bg-color;
}

/* Wiki */
.wiki-section {
    padding: 1rem;

    &.feature {
        background-color: color.change(next-in-sequence($primary-colors), $lightness: 96%, $chroma: 0.015, $space: oklch);
    }
    &.blank {
        background-color: color.change(next-in-sequence($primary-colors), $lightness: 96%, $chroma: 0.015, $space: oklch);
    }
    &.dev {
        background-color: color.change(next-in-sequence($primary-colors), $lightness: 96%, $chroma: 0.015, $space: oklch);
    }
    &.indev {
        background-color: color.change(next-in-sequence($primary-colors), $lightness: 96%, $chroma: 0.015, $space: oklch);
    }
    background-color: color.change(next-in-sequence($primary-colors), $lightness: 96%, $chroma: 0.015, $space: oklch);

    .wiki-entry {
        padding: 0.5rem;
        border: 2px solid transparent;
        border-image: linear-gradient(to top, $color-dark-neutral, color.change($color-dark-neutral, $alpha: 0) 33%);
        border-image-slice: 1;
    }
}

/* Wrapper */
.wrapper {
    width:960px;
}


/* Header */
$header-bg-color:       color.adjust(random-color-from($primary-colors), $lightness: 50%, $chroma: -15%, $space: oklch);
$header-border-color:   color.adjust($header-bg-color, $lightness: -7.4%, $space: oklch);
$header-title-color:    color.change(opposite-hue($header-bg-color), $lightness: 75%, $space: oklch);
$header-text-color:     text-color-contrasting($header-bg-color);

$button-color:            next-in-sequence($primary-colors);
$button-color-grad:       color.adjust($button-color, $lightness: -20%, $space: oklch);
$button-text-color:       text-color-contrasting($button-color);
$button-text-shadow-color: color.adjust($button-color, $lightness: -22%, $space: oklch);
$button-boxshadow-color:  color.adjust($button-color, $lightness: 11%, $chroma: 0.055, $space: oklch);
$button-text-color-hover: color.adjust($button-text-color, $lightness: 8%, $space: oklch);
$button-color-hover:      color.adjust($button-color, $lightness: 8%, $space: oklch);
$button-color-grad-hover: color.adjust($button-color-grad, $lightness: 8%, $space: oklch);

$dl-button-color:           next-in-sequence($primary-colors);
$dl-button-color-grad:      color.adjust($dl-button-color, $lightness: -20%, $space: oklch);
$dl-button-text-color:      text-color-contrasting($dl-button-color);
$dl-button-text-shadow-color: color.adjust($dl-button-color, $lightness: -22%, $space: oklch);
$dl-button-boxshadow-color: color.adjust($dl-button-color, $lightness: 11%, $chroma: 0.055, $space: oklch);
$dl-button-text-color-hover: color.adjust($dl-button-text-color, $lightness: 8%, $space: oklch);
$dl-button-color-hover:     color.adjust($dl-button-color, $lightness: 8%, $space: oklch);
$dl-button-color-grad-hover: color.adjust($dl-button-color-grad, $lightness: 8%, $space: oklch);

$nav-button-color:           next-in-sequence($primary-colors);
$nav-button-color-grad:      color.adjust($nav-button-color, $lightness: -20%, $space: oklch);
$nav-button-text-color:      text-color-contrasting($nav-button-color);
$nav-button-text-shadow-color: color.adjust($nav-button-color, $lightness: -22%, $space: oklch);
$nav-button-boxshadow-color: color.adjust($nav-button-color, $lightness: 11%, $chroma: 0.055, $space: oklch);
$nav-button-text-color-hover: color.adjust($nav-button-text-color, $lightness: 8%, $space: oklch);
$nav-button-color-hover:     color.adjust($nav-button-color, $lightness: 8%, $space: oklch);
$nav-button-color-grad-hover: color.adjust($nav-button-color-grad, $lightness: 8%, $space: oklch);

header {
	background-color: $header-bg-color;
	color: $header-text-color;
    width:170px;
    float:left;
    position:fixed;
	border: 1px solid opposite-hue($header-text-color);
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: 30px 25px 0 0;
	-webkit-font-smoothing: antialiased;

  h1.header {
    font-family: 'Kalam', Arvo, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;

    a {
      color: $header-title-color;
      letter-spacing: 0.1em;
    }
  }

  p.header {
    font-size: 16px;
  }

  ul {
    list-style:none;
    padding:0;
  }
}

header li {
    list-style-type: none;
    max-width: 200px;
	margin-bottom: 12px;
	line-height: 1em;

    border-radius: 4px;

	/* Core behavior: */
    background: $button-color;
    background: -moz-linear-gradient(top, $button-color 0%, $button-color-grad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, $button-color 0%, $button-color-grad 100%);
    background: -o-linear-gradient(top, $button-color 0%, $button-color-grad 100%);
    background: -ms-linear-gradient(top, $button-color 0%, $button-color-grad 100%);
    background: linear-gradient(to top, $button-color 0%, $button-color-grad 100%);

    border: 1px solid $button-text-shadow-color;

    -webkit-box-shadow: inset 0px 1px 2px 0 $button-boxshadow-color;
    box-shadow: inset 0px 1px 2px 0 $button-boxshadow-color;

    &:hover {
        background: $button-color-hover;
        background: -moz-linear-gradient(top, $button-color-hover 0%, $button-color-grad-hover 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top, $button-color-hover 0%, $button-color-grad-hover 100%);
        background: -o-linear-gradient(top, $button-color-hover 0%, $button-color-grad-hover 100%);
        background: -ms-linear-gradient(top, $button-color-hover 0%, $button-color-grad-hover 100%);
        background: linear-gradient(to top, $button-color-hover 0%, $button-color-grad-hover 100%);
    }

    &.download {
        background: $dl-button-color;
        background: -moz-linear-gradient(top, $dl-button-color 0%, $dl-button-color-grad 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top, $dl-button-color 0%, $dl-button-color-grad 100%);
        background: -o-linear-gradient(top, $dl-button-color 0%, $dl-button-color-grad 100%);
        background: -ms-linear-gradient(top, $dl-button-color 0%, $dl-button-color-grad 100%);
        background: linear-gradient(to top, $dl-button-color 0%, $dl-button-color-grad 100%);

        border: 1px solid $dl-button-text-shadow-color;

        -webkit-box-shadow: inset 0px 1px 2px 0 $dl-button-boxshadow-color;
        box-shadow: inset 0px 1px 2px 0 $dl-button-boxshadow-color;

        &:hover {
            background: $dl-button-color-hover;
            background: -moz-linear-gradient(top, $dl-button-color-hover 0%, $dl-button-color-grad-hover 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
            background: -webkit-linear-gradient(top, $dl-button-color-hover 0%, $dl-button-color-grad-hover 100%);
            background: -o-linear-gradient(top, $dl-button-color-hover 0%, $dl-button-color-grad-hover 100%);
            background: -ms-linear-gradient(top, $dl-button-color-hover 0%, $dl-button-color-grad-hover 100%);
            background: linear-gradient(to top, $dl-button-color-hover 0%, $dl-button-color-grad-hover 100%);
        }
    }

    &.site_nav {
        background: $nav-button-color;
        background: -moz-linear-gradient(top, $nav-button-color 0%, $nav-button-color-grad 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top, $nav-button-color 0%, $nav-button-color-grad 100%);
        background: -o-linear-gradient(top, $nav-button-color 0%, $nav-button-color-grad 100%);
        background: -ms-linear-gradient(top, $nav-button-color 0%, $nav-button-color-grad 100%);
        background: linear-gradient(to top, $nav-button-color 0%, $nav-button-color-grad 100%);

        border: 1px solid $nav-button-text-shadow-color;

        -webkit-box-shadow: inset 0px 1px 2px 0 $nav-button-boxshadow-color;
        box-shadow: inset 0px 1px 2px 0 $nav-button-boxshadow-color;

        &:hover {
            background: $nav-button-color-hover;
            background: -moz-linear-gradient(top, $nav-button-color-hover 0%, $nav-button-color-grad-hover 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
            background: -webkit-linear-gradient(top, $nav-button-color-hover 0%, $nav-button-color-grad-hover 100%);
            background: -o-linear-gradient(top, $nav-button-color-hover 0%, $nav-button-color-grad-hover 100%);
            background: -ms-linear-gradient(top, $nav-button-color-hover 0%, $nav-button-color-grad-hover 100%);
            background: linear-gradient(to top, $nav-button-color-hover 0%, $nav-button-color-grad-hover 100%);
        }
    }

    a {
        display: block;

        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        padding: 8px 1.3em 8px 1.3em;

        &.name {
            white-space: nowrap;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &.download {
        a {
            color: $dl-button-text-color;
            text-shadow: 1px 0px 0 $dl-button-text-shadow-color;
        }
    }

    &.github {
        a {
            color: $button-text-color;
            text-shadow: 1px 0px 0 $button-text-shadow-color;
        }
    }

    &.site_nav {
        a {
            color: $nav-button-text-color;
            text-shadow: 1px 0px 0 $nav-button-text-shadow-color;
            background-image: none;
        }
    }
}


/* Section - for main page content */

section {
    width: 650px;
    float: right;
    padding-bottom: 50px;

    .centered {
        margin-left: auto;
        margin-right: auto;
    }
}


/* Footer */

footer {
  width: 170px;
  float: left;
  position: fixed;
  bottom: 10px;
	padding-left: 50px;
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }

    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }

	footer {
		border-top: 1px solid #ccc;
		margin: 0 84px 0 50px;
		padding: 0;
	}

    header {
        padding-right: 320px;
    }

    section {
        padding: 20px 84px 20px 50px;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }


    header ul {
        position: absolute;
        right: 130px;
        top: 84px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 10px 20px 0;
        margin-right: 0;
    }

	section {
        padding: 10px 0 10px 20px;
        margin: 0 0 30px;
    }

	footer {
		margin: 0 0 0 30px;
	}

    header ul,
    header p.view {
        position: static;
    }
}

@media print, screen and (max-width: 480px) {

    header ul li.download {
        display: none;
    }

	footer {
		margin: 0 0 0 20px;
	}

	footer a {
		display: block;
	}

}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}
