name: Generate TypeScript Docs

on:
  repository_dispatch:
    types: [generate-docs]
  workflow_dispatch:

jobs:
  setup-tsdoc:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main repo
      uses: actions/checkout@v4
      with:
        repository: Frolic-chat/frolic
        ref: master

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
        check-latest: true

    - name: Install dependencies
      run: |
        yarn install
        yarn add -D typedoc typedoc-plugin-markdown

    - name: Generate docs
      run: yarn typedoc --plugin typedoc-plugin-markdown --out ./dev-doc/tsdoc ./electron/main.ts ./electron/chat.ts ./electron/window.ts ./learn/store/worker/store.worker.endpoints.ts

    - name: Checkout doc repo
      uses: actions/checkout@v4
      with:
        repository: Frolic-chat/frolic-chat.github.io
        ref: main

    - name: Commit and push generated docs
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add ./dev-doc/tsdoc
        git commit -m "Update tsdoc documentation"
        git push

    - name: Trigger repository_dispatch event in doc repo
      uses: peter-evans/repository-dispatch@v3
      with:
        event-type: tsdoc-gen-finished
